.containerCoinsInput{
    width: 100%;
    display: flex;
    align-items: center;
}

.searchCoin{
    box-sizing: border-box;
    width: 90%;
    max-width: 90%;
    border-radius: 50px 0px 0px 50px;
    height: 45px;
    background-color: #3A0B4F;
    color: #ECE7EE;
    font-size: 25px;
    font-weight: lighter;
    padding-left: 25px;
    border: none;
}
.searchCoin:focus{
    outline: 0;
}

.searchIcon{
    height: 45px;
    width: 85px;
    background-color: #BFAEC7;
    color: #ECE7EE;
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.searchIcon:hover{
    background-color: #3A0B4F;
}

.containerTableList{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;

}
.containerCardTitleList {
    display: flex;
    justify-content: space-around;
    background: rgb(38,7,53);
    background: linear-gradient(35deg, rgba(38,7,53,0.8992628992628993) -40%, rgba(196,180,203,1) 47%, rgba(38,7,53,0.914004914004914) 160%);
    border-radius: 10px;
    margin: 8px;
    box-shadow: 0px 0px 20px #ECE7EE;
}
