.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 19px 0px;
}
.containerHeaderCoins{
    background: linear-gradient(95deg, rgba(38,7,53,0.8992628992628993) -30%, rgba(196,180,203,1) 47%, rgba(38,7,53,0.914004914004914) 130%);
    border-radius: 5px;
    width: 182px;
    height: 35px;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
    
}
.containerCoinsImage{
    padding: 0px 8px;
}

.containerCoinsValues{
    padding: 0px 8px;
}